body {
    font-family: sans-serif;
  }
  
  .tab-list {
    display: flex;
  }
  
  .tab {
    margin: 0 4px;
  }
  
  .tab.active {
    background: blue;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  
  .tab-panel {
    display: none;
  }
  
  .active{
    display: block;
  }
  