body {
    background-color: white;
    color: #000;
    min-height: 100vh;
    padding: 0;
}

.progress-wrapper {
    height: 10px;
    width: 100%;
    margin: 5px;
    background-color: gray;;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: green;
    /* transition: width 2s linear; */
}