body {
    background-color: white;
    color: #000;
    min-height: 100vh;
    padding: 0;
}

.progress {
    width: 100%;
    height: 16px;
    border: 1px solid #b0b0b0;
    background-color: #c5c5c5;
    border-radius: 10px;
    margin: 10px 4px;
    overflow: hidden;
}

.progressBar {
    height: 100%;
    background-color: #0d6efd;
    overflow: hidden;
    color: white;
    text-align: center;
}